body {
    background-color: #FEFFD2;
    font-family: Arial, sans-serif;
}

#mainContainer {
    margin: 50px auto;
    width: 400px;
    background-color: #fff8c4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #aaa;
}

.notepad ul {
    list-style: none;
    padding: 0;
}

.task-input {
    width: 70%;
    padding: 5px;
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
}
.delete-btn {
    background: none;
    border: none;
    color: #cc0000;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

    .delete-btn:hover {
        color: #ff0000;
    }
